{% set account_total_price = get_account_total_price(account) %}
<!doctype html>

<html>
    <head>
        <style type="text/css">
            {% include 'css/report.css' %}
        </style>
    </head>
    
    <body>

        <table class="bordered-table padding-table" cellspacing="0" cellpadding="0">
            <tr>
                <td>{{account.provider_bank_name}}</td>
                <td>БИК</td>
                <td>{{account.provider_bank_identity_code}}</td>
            </tr>
            <tr>
                <td>Банк получателя</td>
                <td>Сч. №</td>
                <td>{{account.provider_bank_correspondent_account}}</td>
            </tr>
            <tr>
                <td>ИНН {{account.provider_bank_taxpayer_number}} КПП</td>
                <td rowspan="3">Сч. №</td>
                <td rowspan="3">{{account.provider_bank_checking_account}}</td>
            </tr>
            <tr>
                <td>{{account.provider_name}}</td>
            </tr>
            <tr>
                <td>Получатель</td>
            </tr>
        </table>


        <h1>Счет на оплату № {{account.id}} от {{strftimestamp(account.date)}}</h1>

        <div class="horizont-line"></div>

        <table class="bordered-table padding-table margin-top-30">
            <tr>
                <td>
                    Поставщик (Исполнитель):
                </td>
                
                <td>
                    <strong>{{account.provider_name}}, ИНН {{account.provider_taxpayer_number}}, {{account.provider_address}}</strong>
                </td>
            </tr>

            <tr>
                <td>
                    Покупатель (Заказчик):
                </td>

                <td>
                    <strong>{{account.purchaser_name}}, ИНН {{account.purchaser_taxpayer_number}}, {{account.purchaser_address}}</strong>
                </td>
            </tr>

            <tr>
                <td>
                    Основание:
                </td>

                <td>
                    <strong>{{account.reason}}</strong>
                </td>
            </tr>
        </table>

        <table class="bordered-table padding-table margin-top-30">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Товары (работы, услуги)</th>
                    <th>Кол-во</th>
                    <th>Ед.</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
            {% for product in account.products %}
                <tr>
                    <td>
                        {{loop.index}}
                    </td>

                    <td>
                        {{product.name]}}
                    </td>

                    <td>
                        {{product.value}}
                    </td>

                    <td>
                        {{product.time_unit_name}}
                    </td>

                    <td>
                        {{product.price}}
                    </td>
                    <td>
                        {{get_account_product_total_price(product)}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="padding-table margin-top-30">
            <tr>
                <td class="width-80-per text-right"><strong>Итого:</strong></td>
                <td class="text-right"><strong>{{account_total_price}}</strong></td>
            </tr>
            <tr>
                <td class="width-80-per text-right"><strong>В том числе НДС:</strong></td>
                <td class="text-right"><strong>Без НДС</strong></td>
            </tr>
            <tr>
                <td class="width-80-per text-right"><strong>Всего к оплате:</strong></td>
                <td class="text-right"><strong>{{account_total_price}}</strong></td>
            </tr>
        </table>

        <p>
            Всего наименований {{account.products | length}}, на сумму {{account_total_price}} руб.<br/>
            <strong>{{convert_number_to_word(account_total_price)}}</strong>
        </p>

        <p>
            Внимание!<br/>
            Оплата данного счета означает согласие с условиями поставки товара.
        </p>

        <div class="horizont-line"></div>

        <table class="padding-table margin-top-30">
            <tr>
                <td><strong>Руководитель</strong></td>
                <td class="td-underline"></td>
                <td></td>
                <td><strong>Бухгалтер</strong></td>
                <td class="td-underline"></td>
            </tr>
        </table>
    </body>
</html>
