@page {
    width: 1400px;
}

body {
    font-family: monospace;
    font-size: 11px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    padding: 0;
    margin: 0;
}

table.bordered-table td, table.bordered-table th {
    border: solid 1px black;
}

table.padding-table td, table.padding-table th, .padding-td {
    padding: 5px;
}


table.inner-table td {
    padding: 3px;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: solid 1px black !important;
}

table.inner-table .inner-table-row-last td {
    border-bottom: none !important;
}

table.inner-table .border-right {
    border-right: solid 1px black !important;
}

.height-50  {
    height: 50px;
}

.height-30  {
    height: 30px;
}
.padding-5 {
    padding: 5px;
}
.border-bottom {
    border-bottom: solid 1px black;
}
.horizont-line {
    background: black;
    height: 3px;
}

.margin-top-30 {
    margin-top: 30px;
}

.width-80-per {
    width: 85%;
}

.width-200-px {
    width: 200px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.td-underline {
    border-bottom: solid 1px black;
}

.inline-underline {
    display: inline;
    border-bottom: solid 1px black;
}

.block-underline {
    display: block;
    border-bottom: solid 1px black;
}

.name-td {
    width: 300px;
}

.vartical-align-bottom {
    vertical-align: bottom;
}

.no-border {
    border: none !important;
}
