.application-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    height: 100%;
    width: 100%;

    .application-menu {
        width: 70px;

        &-item {
            color: white;
            padding: 10px;
            text-align: center;
            display: block;

            .fas {
                font-size: 20px;
            }
        }
    }
    
    .application-body {
        flex: 1 1;
        display: flex;
    }

    .application-sidebar {
        width: 250px;
        overflow: auto;

        &-header {
            padding: 0.5rem 1rem;
            margin: 0;
        }
    }

    .application-content {
        flex: 1 1;
        overflow: auto;
    }
}

html, body {
    width: 100%;
    height: 100%;
}

